@media (min-width: 375px) {
  .paragraph {
    width: 80%;
    display: flex;
    justify-content: flex-start;
  }
}

@media (min-width: 425px) {
  .paragraph {
    width: 70%;
    display: flex;
    justify-content: flex-start;
  }
}

@media (min-width: 768px) {
  .footer-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 2rem;
  }
}
